@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
  font-family: 'inter';
  font-weight: 500;
}

*,
::before,
::after {
  border-width: 0;
}
.form-gap {
  padding-top: 70px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* Adjust the z-index value as needed */
}